/* Tela de Login */

.box-login,
.box-registro,
.box-post {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    color: #fff;
    display: flex;
    position: fixed;
    align-items: center;
    background-color: rgba(40, 40, 80, 0.3);
}

.show-box-login {
    visibility: visible;
}

.hide {
    display: none;
    visibility: hidden;
}

.form-box {
    width: 784px;
    height: 420px;
    margin: 0 auto;
    color: #72767d;
    background-color: #36393f;
    border-radius: 5px;
}

.center-box {
    width: 720px;
    height: 340px;
    margin: 0 auto;
    text-align: center;
    display: flex;
}

.form-box-post,
.center-box-post {
    height: auto;
}

.left-box {
    width: 414px;
    float: left;
}

.left-box-post {
    width: 50%;
}

.boas-vindas {
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
}

.animados {
    color: #b9bbbe;
    font-size: 16px;
    line-height: 20px;
    font-family: Whitney-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.login-infos {
    width: 100%;
    margin-top: 20px;
    text-align: left;
}

.login-entrada {
    margin-bottom: 10px;
}

h5 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #8e9297;
}

.div-input {
    display: flex;
    font-size: 16px;
    margin-top: 6px;
    border-radius: 3px;
    background-color: rgb(0, 0, 0, 0.1);
}

.input,
.input-post {
    background-color: #00000000;
    padding: 10px;
    height: 40px;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 3px;
    color: #bbbbbb;
    font-family: Whitney-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.input:hover {
    border-color: #000;
}

.input:focus,
.input:active {
    outline: none;
    border-color: #7289da;
}

.left-box a {
    color: #7289da;
    font-size: 14px;
    line-height: 16px;
}

#btn-login,
#btn-registro {
    color: #fff;
    background-color: #7289da;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 8px;
    width: 100%;
    height: 44px;
    min-width: 130px;
    min-height: 44px;
    border: none;
}

#btn-login:hover,
#btn-registro:hover {
    background-color: #677bc4;
}

#btn-login:active,
#btn-registro:active {
    background-color: #5b6eae;
}

#btn-login:focus,
#btn-registro:focus {
    outline: none;
}

.registrar span {
    font-size: 14px;
    line-height: 16px;
    font-family: Whitney-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cancelar {
    float: right;
}

.cancelar a {
    color: #f04747;
}

.right-box {
    width: 240px;
    margin: 0 auto;
    margin-left: 75px;
    float: right;
}

.right-box-post {
    width: 50%;
    margin: 0 auto;
    margin-top: 80px;
    margin-left: 35px;
    float: right;
}

.right-box img {
    border-radius: 4px;
    margin-top: 51px;
}

.right-box h1 {
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
}

.info-qrcode {
    color: #b9bbbe;
    font-size: 16px;
    line-height: 20px;
    font-family: Whitney-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
}

.error-span {
    font-size: 15px;
    margin-top: 6px;
}

.error,
.error-span {
    color: #f04747;
}

button {
    cursor: pointer;
}

.login-infos a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 415px) {
    .form-box {
        width: 100%;
    }
    .center-box {
        width: 100%;
    }
    .left-box {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
    .right-box {
        display: none;
    }
}